	 html {
	     height: 100%;
	     overflow-x:hidden; /* 水平滚动条禁用 */
		 /*overflow-y:hidden;*/ 
	 }
	    
     body {
        margin: 0;
        padding: 0;
        background: #000000 ;
        color: #ffffff;		/* 文字默认颜色 */
        font-family: sans-serif;
        font-size: 13px;
        line-height: 20px;
        height: 100%;
      }
      #container {
      	position:fixed;
      }
       
      #maintitle {
        position:fixed;
        top: 20px;
        left: 20px;        
        width: 270px;
        padding: 10px;
        font-size: 26px;
        z-index:1000; 
      }
      #subtitle {
        position:fixed;
        top: 50px;
        left: 70px;        
        width: 300px;
        padding: 10px;
        font-size: 14px;
      }
      #citylinks {
        position:fixed;
        top: 180px;
        left: 20px;        
        width: 100px;
        padding: 10px;       
        font-size: 16px;
        line-height: 200%;/* 链接间距增加 */
      }
      #searchdiv {
      	 position: absolute;
         top: 10px;
         right: 24px;        
         width: 300px;
         padding: 10px;
         font-size: 12px;
      }
      #museumlist {
      	 position: absolute;
         top: 60px;
         right: 2px;        
         width: 330px;
         height: 600px;        
         padding: 0px;
         font-size: 12px;
         z-index:1000;
         /*overflow-y:auto;*/
         /* border: 1px solid #FF0000; */          
      }
      
      #footer{
      	position:fixed;      	
      	left:0px; bottom:0;
      	width:100%;height:50px;
      	line-height:50px;
      	/*border-top:1px solid #ccc;/*顶部留出的一条*/
      	text-align:center;
      	text-shadow:1px 1px 1px #000;
      	color:#fff;
      	/*background:#000;*/
      	z-index:999;
      	}
      	
      	#footer a{color:#aaa;padding:0px 10px;text-shadow:1px 1px 1px #000;}
      	#footer a:hover{color:#fff;text-shadow:0px 0px 1px #fff;}
      
      input.short { color: #CCCCCC}
      
      /* 普通链接去掉下划线  */
      a:link {text-decoration:none; }    /* unvisited link */
      /* 移上去出现下划线 */
      a:hover {text-decoration:none; color:#FFFFFF; }   /* mouse over link */      
      /*a:active {color: #FFFFFF} /* mouse down */
      
      .button {		  
		 color: #ffffff;
		 font-size: 12px;
		 padding: 4px;
		 text-decoration: none;
		 -webkit-border-radius: 10px;
		 -moz-border-radius: 10px;
		 -webkit-box-shadow: 0px 1px 1px #666666;
		 -moz-box-shadow: 0px 1px 1px #666666;
		 text-shadow: 1px 1px 1px #666666;
		 border: solid #4a5175 0px;
  		 background: -webkit-gradient(linear, 0 0, 0 100%, from(#999999), to(#000000));
  	  	 background: -moz-linear-gradient(top, #999999, #000000);
	}
	.button:hover {	 
  	    background: -webkit-gradient(linear, 0 0, 0 100%, from(#9f3ffa), to(#5b05fa));
 	    background: -moz-linear-gradient(top, #9f3ffa, #5b05fa);
	}
     